

body{
    background-image: url(../source/fondo.jpg)
    
    
}

div{
    background-color: rgb(167, 151, 29);
    font-size: 80px;
    color: black;
}

section{
    background-color: rgba(26, 175, 61, 0.873);
    font-size: 80px;
    color: black;

}

.imagenes{
    box-shadow: 10px 10px 15px;
    border-radius: 10px;
}